<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.chinaoly.cp">

    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 允许程序设置内置sd卡的写权限     危险权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 允许程序读写手机状态和身份     危险权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置    危险权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".app.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".ImageActivity">
        </activity>
        <activity android:name=".HuanActivity">
        </activity>
        <activity android:name=".RiLiActivity">
        </activity>
        <activity android:name=".RulerActivity">
        </activity>
        <activity android:name=".MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".AbilityActivity">
        </activity>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="90264a7f6e7d7b5031f3d197be45b749"/>

        <activity android:name=".GaoDeMapActivity">
        </activity>
        <activity android:name=".PicActivity">
        </activity>
    </application>

</manifest>